Rock/Service References/TeleAtlas.Geocoding/Geocoding.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd1="http://ezlocate.na.teleatlas.com/Geocoding.xsd1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ezlocate.na.teleatlas.com/Geocoding.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns1="http://ezlocate.na.teleatlas.com/Geocoding.xsd1" name="Geocoding" targetNamespace="http://ezlocate.na.teleatlas.com/Geocoding.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ezlocate.na.teleatlas.com/Geocoding.xsd1">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="NameValue">
        <xsd:sequence>
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="value" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Record">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="nv" nillable="true" type="tns1:NameValue" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Geocode">
        <xsd:sequence>
          <xsd:element name="resultCode" type="xsd:int" />
          <xsd:element name="mAttributes" nillable="true" type="tns1:Record" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MatchType">
        <xsd:sequence>
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="description" nillable="true" type="xsd:string" />
          <xsd:element name="id" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MatchTypeSequence">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="types" nillable="true" type="tns1:MatchType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RecordSequence">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="record" nillable="true" type="tns1:Record" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GeocodeSequence">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="sequence" nillable="true" type="tns1:Geocode" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OutputField">
        <xsd:sequence>
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="description" nillable="true" type="xsd:string" />
          <xsd:element name="type" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OutputFieldSequence">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="fields" nillable="true" type="tns1:OutputField" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getServices">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="identity" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getServicesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="services" type="tns1:Record" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getServiceDescription">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="service" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="identity" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getServiceDescriptionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="countryCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="inputs" type="tns1:Record" />
            <xsd:element minOccurs="0" maxOccurs="1" name="outputs" type="tns1:OutputFieldSequence" />
            <xsd:element minOccurs="0" maxOccurs="1" name="matchTypes" type="tns1:MatchTypeSequence" />
            <xsd:element minOccurs="0" maxOccurs="1" name="matchTypeName" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="service" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="input" type="tns1:Record" />
            <xsd:element minOccurs="1" maxOccurs="1" name="identity" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findAddressResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="result" type="tns1:Geocode" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findMultiAddressResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="results" type="tns1:GeocodeSequence" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findMultiAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="service" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputs" type="tns1:RecordSequence" />
            <xsd:element minOccurs="1" maxOccurs="1" name="identity" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getServicesRequest">
    <wsdl:part name="parameters" element="tns1:getServices" />
  </wsdl:message>
  <wsdl:message name="getServicesResponse">
    <wsdl:part name="parameters" element="tns1:getServicesResponse" />
  </wsdl:message>
  <wsdl:message name="getServiceDescriptionRequest">
    <wsdl:part name="parameters" element="tns1:getServiceDescription" />
  </wsdl:message>
  <wsdl:message name="getServiceDescriptionResponse">
    <wsdl:part name="parameters" element="tns1:getServiceDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="findAddressRequest">
    <wsdl:part name="parameters" element="tns1:findAddress" />
  </wsdl:message>
  <wsdl:message name="findAddressResponse">
    <wsdl:part name="parameters" element="tns1:findAddressResponse" />
  </wsdl:message>
  <wsdl:message name="findMultiAddressRequest">
    <wsdl:part name="parameters" element="tns1:findMultiAddress" />
  </wsdl:message>
  <wsdl:message name="findMultiAddressResponse">
    <wsdl:part name="parameters" element="tns1:findMultiAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="GeocodingPortType">
    <wsdl:operation name="getServices">
      <wsdl:input message="tns:getServicesRequest" />
      <wsdl:output message="tns:getServicesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getServiceDescription">
      <wsdl:input message="tns:getServiceDescriptionRequest" />
      <wsdl:output message="tns:getServiceDescriptionResponse" />
    </wsdl:operation>
    <wsdl:operation name="findAddress">
      <wsdl:input message="tns:findAddressRequest" />
      <wsdl:output message="tns:findAddressResponse" />
    </wsdl:operation>
    <wsdl:operation name="findMultiAddress">
      <wsdl:input message="tns:findMultiAddressRequest" />
      <wsdl:output message="tns:findMultiAddressResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeocodingBinding" type="tns:GeocodingPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getServices">
      <soap:operation soapAction="Geocoding:GeocodingPortType#getServices" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceDescription">
      <soap:operation soapAction="Geocoding:GeocodingPortType#getServiceDescription" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAddress">
      <soap:operation soapAction="Geocoding:GeocodingPortType#findAddress" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findMultiAddress">
      <soap:operation soapAction="Geocoding:GeocodingPortType#findMultiAddress" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Geocoding">
    <wsdl:port name="Geocoding" binding="tns:GeocodingBinding">
      <soap:address location="http://mmezl.teleatlas.com/axis/services/Geocoding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>