Rock/Service References/TeleAtlas.Authentication/Authentication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd1="http://ezlocate.na.teleatlas.com/Authentication.xsd1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ezlocate.na.teleatlas.com/Authentication.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns1="http://ezlocate.na.teleatlas.com/Authentication.xsd1" name="Authentication" targetNamespace="http://ezlocate.na.teleatlas.com/Authentication.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ezlocate.na.teleatlas.com/Authentication.xsd1">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:element name="requestChallenge">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="minutesValid" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="requestChallengeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="encryptedID" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="answerChallenge">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="encryptedResponse" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="originalChallenge" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="answerChallengeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="credential" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="invalidateCredential">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="credential" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="invalidateCredentialResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="testCredential">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ipAddress" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="credential" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serverCred" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="testCredentialResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="user" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="password" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="expiration" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestChallengeRequest">
    <wsdl:part name="parameters" element="tns1:requestChallenge" />
  </wsdl:message>
  <wsdl:message name="requestChallengeResponse">
    <wsdl:part name="parameters" element="tns1:requestChallengeResponse" />
  </wsdl:message>
  <wsdl:message name="answerChallengeRequest">
    <wsdl:part name="parameters" element="tns1:answerChallenge" />
  </wsdl:message>
  <wsdl:message name="answerChallengeResponse">
    <wsdl:part name="parameters" element="tns1:answerChallengeResponse" />
  </wsdl:message>
  <wsdl:message name="invalidateCredentialRequest">
    <wsdl:part name="parameters" element="tns1:invalidateCredential" />
  </wsdl:message>
  <wsdl:message name="invalidateCredentialResponse">
    <wsdl:part name="parameters" element="tns1:invalidateCredentialResponse" />
  </wsdl:message>
  <wsdl:message name="testCredentialRequest">
    <wsdl:part name="parameters" element="tns1:testCredential" />
  </wsdl:message>
  <wsdl:message name="testCredentialResponse">
    <wsdl:part name="parameters" element="tns1:testCredentialResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationPortType">
    <wsdl:operation name="requestChallenge">
      <wsdl:input message="tns:requestChallengeRequest" />
      <wsdl:output message="tns:requestChallengeResponse" />
    </wsdl:operation>
    <wsdl:operation name="answerChallenge">
      <wsdl:input message="tns:answerChallengeRequest" />
      <wsdl:output message="tns:answerChallengeResponse" />
    </wsdl:operation>
    <wsdl:operation name="invalidateCredential">
      <wsdl:input message="tns:invalidateCredentialRequest" />
      <wsdl:output message="tns:invalidateCredentialResponse" />
    </wsdl:operation>
    <wsdl:operation name="testCredential">
      <wsdl:input message="tns:testCredentialRequest" />
      <wsdl:output message="tns:testCredentialResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationBinding" type="tns:AuthenticationPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="requestChallenge">
      <soap:operation soapAction="Authentication:AuthenticationPortType#requestChallenge" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="answerChallenge">
      <soap:operation soapAction="Authentication:AuthenticationPortType#answerChallenge" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="invalidateCredential">
      <soap:operation soapAction="Authentication:AuthenticationPortType#invalidateCredential" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testCredential">
      <soap:operation soapAction="Authentication:AuthenticationPortType#testCredential" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Authentication">
    <wsdl:port name="Authentication" binding="tns:AuthenticationBinding">
      <soap:address location="http://mmezl.teleatlas.com/axis/services/Authentication" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>