Rock.Framework/Service References/StrikeIron.USAddressVerification/USAddressVerification5.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.strikeiron.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.strikeiron.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
      <s:element name="VerifyAddressUSA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CityStateZIPCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Firm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Urbanization" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" default="UPPER" name="Casing" type="tns:CasingEnum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="CasingEnum">
        <s:restriction base="s:string">
          <s:enumeration value="UPPER" />
          <s:enumeration value="LOWER" />
          <s:enumeration value="PROPER" />
        </s:restriction>
      </s:simpleType>
      <s:element name="VerifyAddressUSAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyAddressUSAResult" type="tns:SIWsOutputOfUSAddress" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfUSAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:USAddress" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusNbr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="USAddress">
        <s:complexContent mixed="false">
          <s:extension base="tns:Address">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Urbanization" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ZIPPlus4" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ZIPCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ZIPAddOn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CarrierRoute" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PMB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PMBDesignator" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DeliveryPoint" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DPCheckDigit" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LACS" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CMRA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DPV" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DPVFootnote" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RDI" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RecordType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CongressDistrict" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CountyNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StateNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GeoCode" type="tns:USGeocode" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Address" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PreDirection" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostDirection" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Village" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressStatus" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="USGeocode">
        <s:complexContent mixed="false">
          <s:extension base="tns:Geocode">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CensusTract" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StateNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CountyNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BlockNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BlockGroup" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Geocode">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="VerifyAddressUSABatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Addresses" type="tns:ArrayOfUSBatchAddress" />
            <s:element minOccurs="0" maxOccurs="1" default="UPPER" name="Casing" type="tns:CasingEnum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUSBatchAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="USBatchAddress" nillable="true" type="tns:USBatchAddress" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="USBatchAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CityStateZIPCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Urbanization" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="VerifyAddressUSABatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyAddressUSABatchResult" type="tns:SIWsOutputOfSIWsResultArrayOfUSAddressWithStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfSIWsResultArrayOfUSAddressWithStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIWsResultArrayOfUSAddressWithStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsResultArrayOfUSAddressWithStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfUSAddressWithStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUSAddressWithStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="USAddressWithStatus" nillable="true" type="tns:USAddressWithStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="USAddressWithStatus">
        <s:complexContent mixed="false">
          <s:extension base="tns:SIWsResultWithStatus">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:USAddress" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SIWsResultWithStatus" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ItemStatus" type="tns:SIWsStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStatusCodesForMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MethodName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusCodesForMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusCodesForMethodResult" type="tns:SIWsOutputOfMethodStatusRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfMethodStatusRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:MethodStatusRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MethodStatusRecord">
        <s:complexContent mixed="false">
          <s:extension base="tns:SIWsResultArrayOfSIWsStatus">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MethodName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SIWsResultArrayOfSIWsStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfSIWsStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSIWsStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SIWsStatus" nillable="true" type="tns:SIWsStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStatusCodes">
        <s:complexType />
      </s:element>
      <s:element name="GetStatusCodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusCodesResult" type="tns:SIWsOutputOfSIWsResultArrayOfMethodStatusRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfSIWsResultArrayOfMethodStatusRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIWsResultArrayOfMethodStatusRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsResultArrayOfMethodStatusRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfMethodStatusRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMethodStatusRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MethodStatusRecord" nillable="true" type="tns:MethodStatusRecord" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetServiceInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceInfoResult" type="tns:SIWsOutputOfSIWsResultArrayOfServiceInfoRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SIWsOutputOfSIWsResultArrayOfServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIWsResultArrayOfServiceInfoRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsResultArrayOfServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfServiceInfoRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceInfoRecord" nillable="true" type="tns:ServiceInfoRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InfoKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InfoValue" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <xs:schema xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.strikeiron.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="LicenseInfo" type="tns1:LicenseInfo" />
      <xs:complexType name="LicenseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser" />
          <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UnregisteredUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegisteredUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserID" type="xs:string" />
          <xs:element minOccurs="0" name="Password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo" />
      <xs:complexType name="SubscriptionInfo">
        <xs:sequence>
          <xs:element name="LicenseStatusCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseStatus" type="xs:string" />
          <xs:element name="LicenseActionCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseAction" type="xs:string" />
          <xs:element name="RemainingHits" type="xs:int" />
          <xs:element name="Amount" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetRemainingHits">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetRemainingHitsResponse">
        <xs:complexType />
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="VerifyAddressUSASoapIn">
    <wsdl:part name="parameters" element="tns:VerifyAddressUSA" />
  </wsdl:message>
  <wsdl:message name="VerifyAddressUSASoapOut">
    <wsdl:part name="parameters" element="tns:VerifyAddressUSAResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyAddressUSABatchSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyAddressUSABatch" />
  </wsdl:message>
  <wsdl:message name="VerifyAddressUSABatchSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyAddressUSABatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusCodesForMethodSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatusCodesForMethod" />
  </wsdl:message>
  <wsdl:message name="GetStatusCodesForMethodSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusCodesForMethodResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusCodesSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatusCodes" />
  </wsdl:message>
  <wsdl:message name="GetStatusCodesSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusCodesResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceInfo" />
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapIn">
    <wsdl:part xmlns:q1="http://ws.strikeiron.com" name="parameters" element="q1:GetRemainingHits" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapOut">
    <wsdl:part xmlns:q2="http://ws.strikeiron.com" name="parameters" element="q2:GetRemainingHitsResponse" />
  </wsdl:message>
  <wsdl:message name="LicenseInfoMessage">
    <wsdl:part xmlns:q3="http://ws.strikeiron.com" name="LicenseInfo" element="q3:LicenseInfo" />
  </wsdl:message>
  <wsdl:message name="SubscriptionInfoMessage">
    <wsdl:part xmlns:q4="http://ws.strikeiron.com" name="SubscriptionInfo" element="q4:SubscriptionInfo" />
  </wsdl:message>
  <wsdl:portType name="USAddressVerificationSoap">
    <wsdl:operation name="VerifyAddressUSA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifies a single US address.</wsdl:documentation>
      <wsdl:input message="tns:VerifyAddressUSASoapIn" />
      <wsdl:output message="tns:VerifyAddressUSASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyAddressUSABatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifies a set of US Addresses.</wsdl:documentation>
      <wsdl:input message="tns:VerifyAddressUSABatchSoapIn" />
      <wsdl:output message="tns:VerifyAddressUSABatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusCodesForMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets all status codes a method in the service might return.</wsdl:documentation>
      <wsdl:input message="tns:GetStatusCodesForMethodSoapIn" />
      <wsdl:output message="tns:GetStatusCodesForMethodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusCodes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all statuses this service might return.</wsdl:documentation>
      <wsdl:input message="tns:GetStatusCodesSoapIn" />
      <wsdl:output message="tns:GetStatusCodesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get information about the web service</wsdl:documentation>
      <wsdl:input message="tns:GetServiceInfoSoapIn" />
      <wsdl:output message="tns:GetServiceInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <wsdl:input message="tns:GetRemainingHitsSoapIn" />
      <wsdl:output message="tns:GetRemainingHitsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="USAddressVerificationSoap" type="tns:USAddressVerificationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyAddressUSA">
      <soap:operation soapAction="http://www.strikeiron.com/VerifyAddressUSA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <tns:validation>
          <tns:assertions>
            <tns:assertion>
              <tns:expression>string(//tns:Casing) = "UPPER" or string(//tns:Casing) = "LOWER" or string(//tns:Casing) = "PROPER" or string-length(//tns:Casing) = 0</tns:expression>
              <tns:description>Casing value must be UPPER, LOWER, or PROPER</tns:description>
            </tns:assertion>
          </tns:assertions>
        </tns:validation>
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAddressUSABatch">
      <soap:operation soapAction="http://www.strikeiron.com/VerifyAddressUSABatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <tns:validation>
          <tns:assertions>
            <tns:assertion>
              <tns:expression>string(//tns:Casing) = "UPPER" or string(//tns:Casing) = "LOWER" or string(//tns:Casing) = "PROPER" or string-length(//tns:Casing) = 0</tns:expression>
              <tns:description>Casing value must be UPPER, LOWER, or PROPER</tns:description>
            </tns:assertion>
          </tns:assertions>
        </tns:validation>
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusCodesForMethod">
      <soap:operation soapAction="http://www.strikeiron.com/GetStatusCodesForMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <tns:validation>
          <tns:assertions />
        </tns:validation>
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusCodes">
      <soap:operation soapAction="http://www.strikeiron.com/GetStatusCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <tns:validation>
          <tns:assertions />
        </tns:validation>
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceInfo">
      <soap:operation soapAction="http://www.strikeiron.com/GetServiceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <tns:validation>
          <tns:assertions />
        </tns:validation>
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <soap:operation soapAction="http://ws.strikeiron.com/StrikeIron/USAddressVerification5/USAddressVerification/GetRemainingHits" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="USAddressVerification">
    <wsdl:port name="USAddressVerificationSoap" binding="tns:USAddressVerificationSoap">
      <soap:address location="http://ws.strikeiron.com/StrikeIron/USAddressVerification5/USAddressVerification" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>