Rock/Service References/MelissaData.AddressCheck/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:mdWebServiceAddress" elementFormDefault="qualified" targetNamespace="urn:mdWebServiceAddress" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestArray">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TransmissionReference" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CustomerID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OptAddressParsed" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Record">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="RecordID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Company" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Urbanization" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Suite" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Zip" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Plus4" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Country" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseArray">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Version" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransmissionReference" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Results" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalRecords" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Record">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="RecordID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Results" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Address">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="Company" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="Urbanization">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="Address1" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="Address2" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="Suite" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="PrivateMailBox" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="City">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="1" name="Abbreviation" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="State">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="1" name="Abbreviation" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="Zip" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="Plus4" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="CarrierRoute" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="DeliveryPointCode" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="DeliveryPointCheckDigit" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="CongressionalDistrict" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="Type">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="Address">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
                              <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="Zip">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
                              <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="Country">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="Abbreviation" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="AddressKey" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="Parsed">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="StreetName" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="1" name="AddressRange" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="1" name="Suffix" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="1" name="Direction">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="1" name="Post" type="xs:string" />
                              <xs:element minOccurs="0" maxOccurs="1" name="Pre" type="xs:string" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="Suite">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="1" name="Range" type="xs:string" />
                              <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="PrivateMailbox">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
                              <xs:element minOccurs="0" maxOccurs="1" name="Range" type="xs:string" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="Garbage" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="1" name="RouteService" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="1" name="LockBox" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="1" name="DeliveryInstallation" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>