Rock/Service References/MelissaData.AddressCheck/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:MelissaDataAddressCheckService" elementFormDefault="qualified" targetNamespace="urn:MelissaDataAddressCheckService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://addresscheck.melissadata.net/v2/SOAP/Service.svc?xsd=xsd1" namespace="urn:mdWebServiceAddress" />
  <xs:element name="doAddressCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="urn:mdWebServiceAddress" minOccurs="0" maxOccurs="1" name="Request" type="q1:RequestArray" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doAddressCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="urn:mdWebServiceAddress" minOccurs="0" maxOccurs="1" name="doAddressCheckResult" type="q2:ResponseArray" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>